@font-face {
    font-family: rubik;
    src: url(SpaceGrotesk-VariableFont_wght.ttf);
}

body {
    font-family: rubik;
    margin: 0;
    padding: 0;
    background-color: #1F262E;
    color: white;
}

nav ul {
    list-style-type: none;
    padding: 0;
    background-color: #262D35;
    text-align: center;
    margin: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    padding: 14px 20px;
    display: inline-block;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #575757;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

form {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 20px;
    color: black;
}

form input[type="text"],
form input[type="password"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

form button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #1F262E;
    color: white;   
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

form button[type="submit"]:hover {
    background-color: #0056b3;
}

#registerButton {
    display: block;
    width: 100px;
    margin: 10px auto;
    padding: 10px;
    background-color: #ffc107;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#registerButton:hover {
    background-color: #e0a800;
}
