@font-face {
    font-family: rubik;
    src: url(SpaceGrotesk-VariableFont_wght.ttf);
}

body {
    font-family: rubik;
    margin: 0;
    padding: 0;
    background-color: #1F262E;
    color: white;
}

#liked {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
}

#show-all-liked-topics {
    height: 50px;
    border: none;
    background-color: #262D35;
    color: white;
    border-radius: 20px;
    width: 170px;
}

#liked-topics-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50px;
}

nav {
    background-color: #262D35;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav-left {
    flex: 1;
}

.nav-center {
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    position: relative;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #575757;
}

.nav-center input[type="text"] {
    margin-left: 10px;
    padding: 5px;
    border-radius: 20px;
    border: 1px solid #ccc;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 200px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: 0; /* Updated to ensure it appears under the dropdown */
    border-radius: 4px;
    overflow: hidden;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

h1 {
    text-align: center;
    margin-top: 50px;
    color: #333;
}

#topics-container {
    margin: 20px;
}

.topic {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #262D35;
    width: 1000px;
}

.topic h2 {
    margin: 0 0 10px 0;
}

#author {
    color: white;
}

.pouce {
    width: 50px;
    background: none;
}

#user-info {
    display: flex;
    align-items: center;
    gap: 20px;
}

.tag {
    display: inline-block;
    background-color: #e0e0e0;
    color: #333;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 15px;
    font-size: 0.9em;
}

#topic-link {
    text-decoration: none;
    color: white;
}

.topic p {
    margin: 5px 0;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --color-esqueleto: #EFF3F5;
}

header {
    width: 100%;
    height: 60px;
    background: var(--color-esqueleto);
}

.cover {
    width: 100%;
    height: 500px;
    background: var(--color-esqueleto);
    margin-top: 20px;
}

.container__article {
    max-width: 1000px;
    padding: 0px 20px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container__article .box__article {
    width: 200px;
    height: 250px;
    background: var(--color-esqueleto);
    margin: 20px;
}

/*Aquí debajo va el FOOTER*/

footer {
    width: 100%;
    padding: 50px 0px;
    background-image: url(../Images/background-footer.svg);
    background-size: cover;
}

.container__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}

.box__footer {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.box__footer .logo img {
    width: 180px;
}

.box__footer .terms {
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    font-size: 18px;
}

.box__footer h2 {
    margin-bottom: 30px;
    font-weight: 700;
}

.box__footer a {
    margin-top: 10px;
    font-weight: 600;
}

.box__footer a:hover {
    opacity: 0.8;
}

.box__footer a .fab {
    font-size: 20px;
}

.box__copyright {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p {
    margin-top: 20px;
}

.box__copyright hr {
    border: none;
    height: 1px;
    background-color: #7a7a7a;
}

#pagination {
    margin-left: 20px;
}

#deco {
    width: 35px;
}

#profile-link {
    text-decoration: none;
    color: white;
    background: none;
}

#deco:hover {
    transform: scale(1.1);
}

.button-styling {
    height: 40px;
    border: none;
    background-color: rgba(255, 255, 255, 0.53);
    border-radius: 80%;
    width: 40px;
    align-content: center;
}

.button-styling:hover {
    background-color: rgba(255, 255, 255, 0.746);
}

.fleche {
    width: 30px;
}

#main-site-container {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    justify-content: space-evenly;
}

#container-right {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 60%;
}

#container-main-left {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    height: 500px;
    border-radius: 20px;
    justify-content: space-evenly;
    width: 300px;
}

#create-topic {
    background-color: #324cbd;
    border-radius: 20px;
    width: 200px;
    height: 100px;
    margin-left: 20px;
    text-align: center;
    align-content: center;
}

.text {
    color: rgb(0, 0, 0);
    font-size: 20px;
    margin-top: 30px;
}

#separation {
    border: solid black 1px;
    width: 80%;
    margin-left: 28px;
}

#top-left-container {
    color: rgb(0, 0, 0);
}

#bot-left-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: -30px;
}

#popularite {
    color: black;
}

/* Styles pour le dropdown */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 200px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: 0; /* Updated to ensure it appears under the dropdown */
    border-radius: 4px;
    overflow: hidden;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

h1 {
    text-align: center;
    margin-top: 50px;
    color: #333;
}

.topic h2 {
    margin: 0 0 10px 0;
}

.topic p {
    margin: 5px 0;
}

.like-button {
    background: none;
    border: none;
}

/* Styles for the profile picture */
.profile-pic {
    width: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.profile-pic:hover {
    transform: scale(1.1);
}

#creathor-topic {
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 10px;
    border-radius: 10px;
}

#topic-title {
    color: rgb(255, 255, 255);
    margin-bottom: 50px;
    font-size: 40px;
}

/* Styles for the topic details */
#topic-details {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 20px;
}

#topic-author-name,
#topic-created-at {
    margin: 0 10px;
}

#topic-author-name {
    color: black;
}

#topic-body {
    color: black;
    padding: 20px;
}

#topic-created-at {
    color: rgb(177, 177, 177);
}

/* Existing message styles */
.message {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin: 10px 0;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
}

#message-down {
    display: flex;
}

.message p {
    margin: 5px 0;
}

.message p strong {
    font-size: 1.2em;
    color: #333;
}

.message p em {
    font-size: 0.9em;
    color: #888;
}

.message p strong {
    font-size: 1em;
    color: #555;
}

.message .like-button, 
.message .dislike-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.message .dislike-button {
    background-color: #dc3545;
}

.message .like-button:hover {
    background-color: #0056b3;
}

.message .dislike-button:hover {
    background-color: #c82333;
}

.message .delete-message {
    background-color: #ffc107;
    color: black;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    width: 110px;
    margin-top: 10px;
    transition: background-color 0.3s;
}

#delete-topic {
    background-color: #ffc107;
    color: black;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#message-text {
    color: black;
    padding: 20px;
}

#message-body {
    width: 500px;
    height: 150px;
    font-size: 20px;
    padding: 10px;
}

/* Styles pour le formulaire d'ajout de message */
#addMessageForm {
    margin-top: 50px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
}

#button-submit {
    margin-top: 20px;
    margin-left: 20px;
    z-index: 1000;
}

/* Styles pour le bouton */
#addMessageForm button[type="submit"] {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    border: 1px solid #000000;
    cursor: pointer;
}

/* Ajouter des styles de survol pour le bouton */
#addMessageForm button[type="submit"]:hover {
    background-color: #d7d7d7;
    z-index: 1;
}

#cancel-button {
    display: none; /* Cacher le bouton par défaut */
    padding: 10px 20px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

#cancel-button:hover {
    background-color: #d32f2f;
}

#message-header {
    display: flex;
    align-items: center;
    color: black;
}

.topic-container {
    margin-left: 50px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#flecheback {
    margin-left: 20px;
    width: 50px;
    border-radius: 50%;
}

#flecheback:hover {
    filter: invert(0.10);
    background-color: rgba(128, 128, 128, 0.22);
}

#message-body {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

#sort-order {
    background-color: #04AA6D;
    width: 200px;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 10px;
}

#sort-order option {
    background-color: #f1f1f1;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

#sort-order option:hover {
    background-color: #ddd;
}

#message-body {
    color: black;
    margin-bottom: -20px;
}

#edit-topic {
    background-color: #168516;
    color: black;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#edit-topic:hover {
    background-color: #0e740e;
}

.message .delete-message:hover {
    background-color: #e0a800;
}

#pouce {
    display: flex;
    align-content: end;
}

.pouce2 {
    display: flex;
    align-content: end;
    width: 30px;
    border: none;
    background-color: none;
}

.dislike-button {
    background: none;
    border: none;
}

.like-button.active {
    background-color: green;
    color: white;
}

.dislike-button.active {
    background-color: red;
    color: white;
}

#delete-topic:hover {
    background-color: #e0a905;
}

.friend-request {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.friend-request img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.friend-request button {
    margin-left: auto;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1000;
}

.popup-content {
    padding: 20px;
}

/* Style pour le bouton de fermeture */
.close-button {
    cursor: pointer;
    font-size: 30px;
    position: absolute;
    right: 10px;
    color: black;
    top: 5px;
}

/* Style pour les boutons de "liked topics" et "popular topics" */
#show-all-liked-topics, #show-all-popular-topics {
    height: 50px;
    border: none;
    background-color: #262D35;
    color: white;
    border-radius: 20px;
    width: 170px;
}

.popup .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}

#logout {
    background: none;
}

.profile-pic {
    border-radius: 60%;
    width: 60px;
    height: 60px;
}

#title-topic {
    color: white;
    font-size: 40px;
}

#create-topic {
    display: flex;
    align-content: center;
    background-color: 324cbd;
    justify-content: center;
    width: 300px;
    justify-content: space-around;
}

#create-text {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

#create-text:hover {
    transform: scale(1.1);
}

#create {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #324cbd;
}

#user-profile-pic-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100px;
}

.search-bar-container {
    display: flex;
    align-items: center;
    margin-left: auto;
}

#search-bar {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#search-button {
    padding: 5px 10px;
    font-size: 16px;
    border: none;
    background-color: #04AA6D;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 5px;
}

#reset-search-button {
    justify-content: center;
    padding: 5px 10px;
    font-size: 16px;
    border: none;
    background: none;
    color: white;
    cursor: pointer;
    margin-left: 5px;
}

#croix {
    width: 30px;
}

#search-button:hover {
    background-color: #039f5c;
}

#reset-search-button:hover {
    transform: scale(1.3);
}
